<br>
<!-- for korean user -->
<%if current_user.language == "1" %>
<div class="container">
  <div class="alert alert-warning" id="intro_div" role="alert">
        오늘은 어떤 곳으로 떠나볼까요? 가고 싶은 곳을 클릭해서 지역 정보를 확인하고, 선택하기 버튼을 눌러 선택해주세요. 
  </div>
</div>
<div class="no-gutters">
  <div id="seochon_div">
    <div style="position:absolute; margin-top:10%; margin-left:5%; color:white; z-index:1;"> 
      <h4 style="text-shadow: 2px 2px 2px black;">서촌, 북촌, 인사동</h4>
    </div>
    <div class="intro_row">
      <img class="mw-100" id="seochon_collapse_img" src="/assets/seochon_intro.jpg" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
    </div>

    <div class="details_row_s">
      <div class="collapse multi-collapse mw-100" id="seochon_collapse">

        <div id="carouselExampleControls_s" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mw-100">
            <div class="carousel-item active" id="carousel-item-1">
              <img class="mw-100" id="seochon_carousel_img1" src="/assets/seochon_intro.jpg" alt="First slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
            <br><br>
            <div class="col-12">
              <div class="alert alert-success" role="alert" id="collapse-item-1">
                <h5>소개</h5>
                서촌은 경복궁 서쪽에 있는 마을을 일컫는 별칭입니다. 고궁과 가깝고 청와대와도 가깝기 때문에 오랫동안 개발이 제한되어 과거의 것이 많이 남게 되었던 지역이죠. 그렇기에 오래된 시설들이 지금에 와서 볼거리가 되어 최근에 관광명소로 떠오르기 시작한 곳이죠.<br>
                북촌은 도심을 흐르는 청계천과 종로의 북쪽 방면이라는 의미를 지니고 있습니다. 한국의 전통 가옥인 한옥들이 들어서 있는 마을이에요. 조용하고 한국적인 분위기로 인해 남녀노소 구분 없이 인기가 많은 곳이죠.<br>
                인사동은 도심 한복판에서 느낄 수 있는 전통이 매력적이기 때문에 매일매일 수많은 외국인 관광객이 찾는 장소에요. 한국식 소품과 음식, 기념품을 원한다면 이 곳에 방문하는 것은 필수죠!
              </div>
            </div>

            </div>
            <div class="carousel-item"  id="carousel-item-2">
              <img class="" id="seochon_carousel_img2" src="/assets/seochon_tip1.jpg" alt="Second slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert" id="collapse-item-2">
                  <h5>Tip 1</h5>
                  북촌의 게스트하우스 시설이용을 추천드려요. 이 곳들은 각기 특색있는 문화 체험 프로그램과 한국 전통음식을 준비하고 있거든요. 숙소 홈페이지에서 정보를 확인한 후 본인 취향에 알맞은 숙소를 선택하면 끝!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-3">
              <img class="" id="seochon_carousel_img3" src="/assets/seochon_tip2.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert" id="collapse-item-3">
                  <h5>Tip 2</h5>
                  서촌과 경복궁, 북촌은 모두 직선상으로 이어져있기 때문에 세 곳을 묶어 한 번에 관광하는 것을 추천해요!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-4">
              <img class="" id="seochon_carousel_img4" src="/assets/seochon_tip3.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert" id="collapse-item-4">
                  <h5>Tip 3</h5>
                  서촌에 가서 골목골목을 돌아다닐 때는 이정표가 많이 없기 때문에 지나가는 사람에게 길을 물어보는 것이 더 빨라요!
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-5">
              <img class="" id="seochon_carousel_img5" src="/assets/seochon_caution.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-danger" role="alert" id="collapse-item-5">
                  <h5>Caution!</h5>
                  서촌과 북촌은 골목 안으로 들어갈수록 주거지역이 많으니 주의하도록 합시다! 주민들의 사생활을 지켜줍시다!
                </div>
              </div>
            </div>
            
          </div>
          <a class="carousel-control-prev" id="carousel-control-prev" href="#carouselExampleControls_s" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="carousel-control-next" href="#carouselExampleControls_s" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-12">
          <form action="/entrance/select_location_post" method="POST">
            <input type="text" value="seochon" name="region" style="display:none;">
            <button type="submit" class="btn btn-light">선택하기</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
  <br>
  <div id="myeongdong_div">
    <div style="position:absolute; margin-top:10%; margin-left:5%; color:white; z-index:1;"> 
      <h4 style="text-shadow: 2px 2px 2px black;">명동</h4>
    </div>
    <div class="details_row">
      <img class="mw-100" id="myeongdong_collapse_img" src="/assets/myeongdong_intro.jpg" style="max-width:100%;"  data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
    </div>

    <div class="details_row_m">
      <div class="collapse multi-collapse mw-100" id="myeongdong_collapse">

        <div id="carouselExampleControls_m" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mw-100">
            <div class="carousel-item active" id="carousel-item-1m">
              <img class="mw-100" id="myeongdong_carousel_img1" src="/assets/myeongdong_intro.jpg" alt="First slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
            <br><br>
            <div class="col-12">
              <div class="alert alert-success" role="alert">
                <h5>소개</h5>
                  명동은 거대한 쇼핑도시를 연상케 하는 공간으로 한국 쇼핑과 패션의 중심지입니다. 명동거리에는 한국인보다 외국인이 더 많을 정도이고, 그만큼 한류 팬들에게는 한국 관광의 필수 코스가 되었죠.<br> 
              </div>
            </div>

            </div>
            <div class="carousel-item"  id="carousel-item-2m">
              <img class="" id="myeongdong_carousel_img2" src="/assets/myeongdong_tip1.jpg" alt="Second slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 1</h5>
                  명동은 거의 모든 가게의 직원들이 영어(중국어, 일본어)를 구사할 수 있기 때문에 의사소통에 있어서 큰 걱정을 하지 않아도 됩니다.
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-3m">
              <img class="" id="myeongdong_carousel_img3" src="/assets/myeongdong_tip2.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 2</h5>
                  특히나 이 주변에는 Tax Free가 되는 가게가 많아요. 쇼핑할 때는 여권을 챙겨가서 이득을 챙길 수 있도록 해요!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-4m">
              <img class="" id="myeongdong_carousel_img4" src="/assets/myeongdong_tip3.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 3</h5>
                  명동에는 환전소가 많아요. 급하게 한국 돈이 필요하고, 환전할 수 있는 돈이 있다면, 카드 대출 및 외환 환전 수수료보다 싼 값으로 환전할 수 있어요. 
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-5m">
              <img class="" id="myeongdong_carousel_img5" src="/assets/myeongdong_tip4.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 4</h5>
                  쇼핑 외에도 골목골목에는 다양한 음식점이 있으며 점심이 조금 지나면 거리에는 수많은 노점상들이 오픈하기 때문에 구경하는 재미가 쏠쏠하죠. 보통 밤 10시가 지나면 가게들이 문을 닫기 때문에 너무 늦지 않게 방문하는 것이 좋아요.
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-6m">
              <img class="" id="myeongdong_carousel_img6" src="/assets/myeongdong_caution.gif" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  <h5>Caution!</h5>
                  사람이 많은 만큼 소매치기가 있는 곳이라 소지품을 잘 챙겨다녀야 해요. 명동에는 경찰서가 있기 때문에 경찰서를 미리 확인을 해두는 것이 좋습니다.
                </div>
              </div>
            </div>
            
          </div>
          <a class="carousel-control-prev" id="carousel-control-prev" href="#carouselExampleControls_m" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="carousel-control-next" href="#carouselExampleControls_m" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-12">
          <form action="/entrance/select_location_post" method="POST">
            <input type="text" value="myeongdong" name="region" style="display:none;">
            <button type="submit" class="btn btn-light">선택하기</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
  <br>
  <div class="hongdae_div">
    <div style="position:absolute; margin-top:10%; margin-left:5%; color:white; z-index:1;"> 
      <h4 style="text-shadow: 2px 2px 2px black;">홍대</h4>
    </div>
    <div class="details_row">
      <img class="mw-100" id="hongdae_collapse_img" src="/assets/hongdae_intro.jpg" style="max-width:100%;"  data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
    </div>
    <div class="details_row_h">
      <div class="collapse multi-collapse mw-100" id="hongdae_collapse">

        <div id="carouselExampleControls_h" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mw-100">
            <div class="carousel-item active" id="carousel-item-1h">
              <img class="mw-100" id="hongdae_carousel_img1" src="/assets/hongdae_intro.jpg" alt="First slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
            <br><br>
            <div class="col-12">
              <div class="alert alert-success" role="alert">
                <h5>소개</h5>
                  홍대는 홍익대학교 근처를 보통 지칭하는 공간으로 줄여서 홍대라고 불러요. 이 곳은 서울을 대표하는 '젊음의 거리'예요. 음악과 그림, 클럽 등 다양한 문화가 소비되는 장소이죠. 낮, 밤, 평일, 주말할 것 없이 활기차고 젊은 기운을 느끼고 싶다면 이 곳으로!
              </div>
            </div>

            </div>
            <div class="carousel-item"  id="carousel-item-2h">
              <img class="" id="hongdae_carousel_img2" src="/assets/hongdae_tip1.jpg" alt="Second slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 1</h5>
                    홍대는 홍익대학교 근처를 보통 지칭하는 공간으로 줄여서 홍대라고 불러요. 이 곳은 서울을 대표하는 '젊음의 거리'예요. 음악과 그림, 클럽 등 다양한 문화가 소비되는 장소이죠. 낮, 밤, 평일, 주말할 것 없이 활기차고 젊은 기운을 느끼고 싶다면 이 곳으로!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-3h">
              <img class="" id="hongdae_carousel_img3" src="/assets/hongdae_tip2.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 2</h5>
                    근처의 '경의선 숲길'이 핫플레이스로 자리매김하기도 했죠. 경의선 숲길은 '센트럴파크'를 패러디한 '연트럴파크'라 불리며, 숲길 주변으로 다양한 카페, 펍, 상점들이 펼쳐져 있으며 개성 있는 요리들로 유명해요!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-4h">
              <img class="" id="hongdae_carousel_img4" src="/assets/hongdae_tip3.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 3</h5>
                    홍대는 한국 클럽의 메카라고 할 수 있는 곳이에요. 홍대 클럽에서는 인기 DJ들의 디제잉과 인디밴드 공연을 만날 수 있답니다. 클럽과 더불어 홍대 거리의 버스킹 공연도 홍대의 빼놓을 수 없는 매력이죠. 
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-5h">
              <img class="" id="hongdae_carousel_img5" src="/assets/hongdae_caution.png" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  <h5>Caution!</h5>
                    굉장히 광범위하고 골목이 복잡한 지역이기 때문에 길을 잃기 쉬워요. 그렇기 때문에 홍대입구역 9번 출구에서 나와 사거리에서 왼쪽으로 꺾으면 나오는 관광안내소에서 도움을 받는 것이 좋아요.
                </div>
              </div>
            </div>
            
          </div>
          <a class="carousel-control-prev" id="carousel-control-prev" href="#carouselExampleControls_h" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="carousel-control-next" href="#carouselExampleControls_h" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-12">
          <form action="/entrance/select_location_post" method="POST">
            <input type="text" value="hongdae" name="region" style="display:none;">
            <button type="submit" class="btn btn-light">선택하기</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
</div>
<br>

<%elsif current_user.language == "2" %>
<!-- for not korean user -->
<div class="container">
  <div class="alert alert-warning" id="intro_div" role="alert">
    Where do you want to go today? Click the place you want to go to check the area information and press the "Select button" to select it.
  </div>
</div>
<div class="no-gutters">
  <div id="seochon_div">
    <div style="position:absolute; margin-top:10%; margin-left:5%; color:white; z-index:1;"> 
      <h4 style="text-shadow: 2px 2px 2px black;">서촌, 북촌, 인사동 <br> (Seochon, Bukchon, Insa-dong)</h4>
    </div>
    <div class="intro_row">
      <img class="mw-100" id="seochon_collapse_img" src="/assets/seochon_intro.jpg" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
    </div>

    <div class="details_row_s">
      <div class="collapse multi-collapse mw-100" id="seochon_collapse">

        <div id="carouselExampleControls_s" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mw-100">
            <div class="carousel-item active" id="carousel-item-1">
              <img class="mw-100" id="seochon_carousel_img1" src="/assets/seochon_intro.jpg" alt="First slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
            <br><br>
            <div class="col-12">
              <div class="alert alert-success" role="alert" id="collapse-item-1">
                <h5>Introduction</h5>
                Bukchon has the meaning of the north side of Cheonggyecheon Stream and Jongno flowing in the city center. It is a village where Korean traditional houses are housed. It's a quiet and Korean atmosphere, and it's popular among both men and women.<br>
                Seocheon is an alias for the town in the west of Kyungbok Palace. Because it is close to the old palace and close to the Blue House, it is a region where development has been limited for a long time and many things have been left in the past. That's why old facilities have come to be seen and become a popular sightseeing spot in recent years.
              </div>
            </div>

            </div>
            <div class="carousel-item"  id="carousel-item-2">
              <img class="" id="seochon_carousel_img2" src="/assets/seochon_tip1.jpg" alt="Second slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert" id="collapse-item-2">
                  <h5>Tip 1</h5>
                  If you are a traveler, We recommend you to use Bukchon guesthouse facilities. Each of these places has a unique cultural experience program and Korean traditional food. After checking the information on the homepage, choose the accommodation that suits your taste!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-3">
              <img class="" id="seochon_carousel_img3" src="/assets/seochon_tip2.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert" id="collapse-item-3">
                  <h5>Tip 2</h5>
                  Seochon, Gyeongbokgung and Bukchon are all connected in a straight line, so We recommend you to tie three places and visit at one time!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-4">
              <img class="" id="seochon_carousel_img4" src="/assets/seochon_tip3.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert" id="collapse-item-4">
                  <h5>Tip 3</h5>
                  It is faster to ask a passerby for directions because there are not many milestones when you go to Seochon and go around an alley.
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-5">
              <img class="" id="seochon_carousel_img5" src="/assets/seochon_caution.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#seochon_collapse" aria-controls="seochon_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-danger" role="alert" id="collapse-item-5">
                  <h5>Caution!</h5>
                  Let's be careful because Seochon and Bukchon have many residential areas as they enter the alley! Let's keep the privacy of the residents!
                </div>
              </div>
            </div>
            
          </div>
          <a class="carousel-control-prev" id="carousel-control-prev" href="#carouselExampleControls_s" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="carousel-control-next" href="#carouselExampleControls_s" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-12">
          <form action="/entrance/select_location_post" method="POST">
            <input type="text" value="seochon" name="region" style="display:none;">
            <button type="submit" class="btn btn-light">Select</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
  <br>
  <div id="myeongdong_div">
    <div style="position:absolute; margin-top:10%; margin-left:5%; color:white; z-index:1;"> 
      <h4 style="text-shadow: 2px 2px 2px black;">명동 <br> (Myeong-dong)</h4>
    </div>
    <div class="details_row">
      <img class="mw-100" id="myeongdong_collapse_img" src="/assets/myeongdong_intro.jpg" style="max-width:100%;"  data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
    </div>

    <div class="details_row_m">
      <div class="collapse multi-collapse mw-100" id="myeongdong_collapse">

        <div id="carouselExampleControls_m" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mw-100">
            <div class="carousel-item active" id="carousel-item-1m">
              <img class="mw-100" id="myeongdong_carousel_img1" src="/assets/myeongdong_intro.jpg" alt="First slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
            <br><br>
            <div class="col-12">
              <div class="alert alert-success" role="alert">
                <h5>Introduction</h5>
                  Myeong-dong is the center of Korean fashion and shopping. Myeong-dong is a space reminiscent of a huge shopping city. You can see more foreigners than Koreans on the street. That's why Myeong-dong became one of the most popular places for visitiors. 
              </div>
            </div>

            </div>
            <div class="carousel-item"  id="carousel-item-2m">
              <img class="" id="myeongdong_carousel_img2" src="/assets/myeongdong_tip1.jpg" alt="Second slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 1</h5>
                    Almost every employees can speak English, Chinese or Japanese. Also, you can easily see translated menus. Communication would not be a problem in Myeong-dong.
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-3m">
              <img class="" id="myeongdong_carousel_img3" src="/assets/myeongdong_tip2.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 2</h5>
                    A lot of shops provide 'Tax Free Service'. Take your passport and get a benefit.
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-4m">
              <img class="" id="myeongdong_carousel_img4" src="/assets/myeongdong_tip3.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 3</h5>
                    There are a lot of exchange booths in Myeong-dong. If you need Korean money urgently, check the nearest exchange booths.
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-5m">
              <img class="" id="myeongdong_carousel_img5" src="/assets/myeongdong_tip4.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 4</h5>
                    Except shopping, there are a lot of restaurants at every corner of the street. Also, around lunch time, street vendors starts to sell various foods. However, they usually close their business after 10pm, so don't be late.
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-6m">
              <img class="" id="myeongdong_carousel_img6" src="/assets/myeongdong_caution.gif" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#myeongdong_collapse" aria-controls="myeongdong_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  <h5>Caution!</h5>
                    Because there are a lot of people on the street, be cautious about pickpocket. There is a police office on Myeong-dong street, so it would be useful to know the location.
                </div>
              </div>
            </div>
            
          </div>
          <a class="carousel-control-prev" id="carousel-control-prev" href="#carouselExampleControls_m" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="carousel-control-next" href="#carouselExampleControls_m" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-12">
          <form action="/entrance/select_location_post" method="POST">
            <input type="text" value="myeongdong" name="region" style="display:none;">
            <button type="submit" class="btn btn-light">Select</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
  <br>
  <div class="hongdae_div">
    <div style="position:absolute; margin-top:10%; margin-left:5%; color:white; z-index:1;"> 
      <h4 style="text-shadow: 2px 2px 2px black;">홍대 <br> (nearby Hongik University)</h4>
    </div>
    <div class="details_row">
      <img class="mw-100" id="hongdae_collapse_img" src="/assets/hongdae_intro.jpg" style="max-width:100%;"  data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
    </div>
    <div class="details_row_h">
      <div class="collapse multi-collapse mw-100" id="hongdae_collapse">

        <div id="carouselExampleControls_h" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mw-100">
            <div class="carousel-item active" id="carousel-item-1h">
              <img class="mw-100" id="hongdae_carousel_img1" src="/assets/hongdae_intro.jpg" alt="First slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
            <br><br>
            <div class="col-12">
              <div class="alert alert-success" role="alert">
                <h5>Introduction</h5>
                  Hongdae is abbreviated as Hongdaek University, and it is called Hongdae. This is the 'youthful street' that represents Seoul. It's a place where music, painting, clubs, and other cultures are consumed. If you want to feel energetic and youthful, day, night, weekday, and weekend, go to this place!
              </div>
            </div>

            </div>
            <div class="carousel-item"  id="carousel-item-2h">
              <img class="" id="hongdae_carousel_img2" src="/assets/hongdae_tip1.jpg" alt="Second slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 1</h5>
                    If you visit Hongdae on the weekend, I recommend you to look around the mural street and the Hongdae playground front placard which is held every weekend! You can meet a wide variety of products!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-3h">
              <img class="" id="hongdae_carousel_img3" src="/assets/hongdae_tip2.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 2</h5>
                    The nearby 'Gyeongui Line Forest' was positioned as a hot place. The Gyeongui Line is called 'Yeon-tral Park' which is a parody of 'Central Park'. There are various cafes, pubs and shops around the forest road and famous for its unique dishes!
                </div>
              </div>
            </div>
            
            <div class="carousel-item"  id="carousel-item-4h">
              <img class="" id="hongdae_carousel_img4" src="/assets/hongdae_tip3.jpg" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-primary" role="alert">
                  <h5>Tip 3</h5>
                    Hongdae is a mecca for Korean clubs. In Hongdae club, you can meet popular DJ's DJing and indie band performances. In addition to clubs, buskings on Hongdae street are a must for Hongdae. 
                </div>
              </div>
            </div>

            <div class="carousel-item"  id="carousel-item-5h">
              <img class="" id="hongdae_carousel_img5" src="/assets/hongdae_caution.png" alt="Third slide" style="max-width:100%;" data-toggle="collapse" href="#hongdae_collapse" aria-controls="hongdae_collapse">
              <br><br>
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  <h5>Caution!</h5>
                    It is very easy to get lost because it is a very wide area and the area is very complicated. Therefore, it is better to get help from the tourist information center that comes out of exit number 9 of 홍대입구(hongik university) station and turn left at the intersection.
                </div>
              </div>
            </div>
            
          </div>
          <a class="carousel-control-prev" id="carousel-control-prev" href="#carouselExampleControls_h" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="carousel-control-next" href="#carouselExampleControls_h" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-12">
          <form action="/entrance/select_location_post" method="POST">
            <input type="text" value="hongdae" name="region" style="display:none;">
            <button type="submit" class="btn btn-light">Select</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
</div>
<br>

<%end%>
<br>
</div>
    
<style>
.check
{
  opacity:0.5;
	color:#996;	
}
.collapsing {
  transition: height 0.3s;
}
</style>
<script>
  
  $('#carousel-s').carousel();
  $('#carousel-m').carousel();
  $('#carousel-h').carousel();

  // 서촌 이미지 clickfunction
  $('#seochon_collapse_img').click(function(){
    $('#seochon_collapse_img').slideUp("fast");
    $('#intro_div').slideUp("fast");     
  });

  $('#seochon_carousel_img1').click(function(){
    $('#seochon_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });

  $('#seochon_carousel_img2').click(function(){
    $('#seochon_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });

  $('#seochon_carousel_img3').click(function(){
    $('#seochon_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });

  $('#seochon_carousel_img4').click(function(){
    $('#seochon_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });

  $('#seochon_carousel_img5').click(function(){
    $('#seochon_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  
  // 명동 click function
  $('#myeongdong_collapse_img').click(function(){
    $('#myeongdong_collapse_img').slideUp("fast");
    $('#intro_div').slideUp("fast");     
  });
  $('#myeongdong_carousel_img1').click(function(){
    $('#myeongdong_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#myeongdong_carousel_img2').click(function(){
    $('#myeongdong_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#myeongdong_carousel_img3').click(function(){
    $('#myeongdong_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#myeongdong_carousel_img4').click(function(){
    $('#myeongdong_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#myeongdong_carousel_img5').click(function(){
    $('#myeongdong_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#myeongdong_carousel_img6').click(function(){
    $('#myeongdong_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });

  // 홍대 click function
  $('#hongdae_collapse_img').click(function(){
    $('#hongdae_collapse_img').slideUp("fast");
    $('#intro_div').slideUp("fast");     
  });
  $('#hongdae_carousel_img1').click(function(){
    $('#hongdae_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#hongdae_carousel_img2').click(function(){
    $('#hongdae_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#hongdae_carousel_img3').click(function(){
    $('#hongdae_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#hongdae_carousel_img4').click(function(){
    $('#hongdae_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#hongdae_carousel_img5').click(function(){
    $('#hongdae_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
  $('#hongdae_carousel_img6').click(function(){
    $('#hongdae_collapse_img').toggle("fast");
    $('#intro_div').slideDown("fast"); 
  });
</script>