<div class="container">
<br>
    <form action="/maps/translate" method="POST">
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                <label for="exampleFormControlTextarea1">Input your word what you want to translate.</label>
            </div>
            <textarea name ="target_text" id="target_text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-primary btn-sm" id="submit_translate" type="submit" value="Translate start">
        <a type="button" class="btn btn-primary btn-sm" id="translate_chk" href="/maps/user_translate_result" style="display:none">Translate result check</a>
    </form>
</div>

<!--로딩 모달-->
<div class="modal fade" id ="loadingModal" tabindex="-1" role="dialog" style="width:100%; height:80%;">
  <div class="modal-dialog" role="document" style="height:100%;">
    <div class="modal-content" style="height:100%;">
      <div class="modal-body" style="height:80%; margin:auto; margin-top:50%; text-align:center" vertical>
        <span>Translating...</span>
        <br>
        <br>
        <div class="loader"></div>
      </div>
      <div class="modal-footer">
        <button id="fake_complete"type="button" class="btn btn-secondary" data-dismiss="modal" style="display:none">Complete</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
    <% unless @translate_done.nil? || @translate_done.output == '{"xmlns"=>"http://schemas.microsoft.com/2003/10/Serialization/"}'%>
        <p>My last translation result<br> : <%= @translate_done.output %></p>
        <br>
        <audio id="translate_voice_0"><source src="https://tts-translate.kakao.com/newtone?message=<%= @translate_done.output.split.join("%20") %>"></audio>
        <button id="translate_voice_0" type="button" class="btn btn-primary btn-sm">Play</button><br><br>
        <a href="javascript:history.back()">Previus page</a><br><br>
    <% end %>
</div>
<script>
$("#submit_translate").click(function(){
    $("#fake_complete").css("display","none");
    
    $('#loadingModal').modal();
    $.ajax({
        data: {
            message: $("#target_text").val()
        },
        url: "/maps/translate"
    });
    setTimeout(function(){ 
        $("#fake_complete").show();
        $("#translate_chk").show();
        $("#submit_translate").hide();
        }, 3000);
});

$('button#translate_voice_0').click(function(){
    $('audio#translate_voice_0').get(0).play();
});

</script>